# Homework 6
Dr. Kerby <br>
Data Science and Applied Machine Learning <br>
Student's name: Ziming Wang

For a description of the HousePrices.csv dataset, visit:</br>
https://gitlab.com/CEADS/DrKerby/python/blob/master/HousePrices_description.txt

In [335]:
# Just execute this cell
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

fulldf = pd.read_csv('https://raw.githubusercontent.com/LGKerby/Python/master/HousePrices.csv')
fulldf.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

**Question 1** (10 points)<br/>
Explore the dataset using at least three different methods

In [336]:
# How many houses' utilities are Allpub.
len(fulldf.groupby('Utilities').get_group('AllPub'))

1459

In [337]:
# How many houses are bulit over 2000
len(fulldf[fulldf['YearBuilt'] >= 2000])

388

In [338]:
# What is the average price of a house under 2000?
fulldf[fulldf['YearBuilt'] < 2000]['SalePrice'].mean()

158655.36473880598

There are 81 columns in our dataset. One column is the ID (which is not valuable data but an after-label), and another column is the Sale Price, which is what we will try to predict with machine learning. Therefore, we have 79 possible factors to use to create our model. Of these, we will keep the following 16:<br/>
*MSZoning, LotArea, Neighborhood, BldgType, OverallQual, OverallCond, YearBuilt, TotalBsmtSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, GarageCars, SaleCondition*

**Question 2** (10 points)<br/>
Create a DataFrame `housedf` which keeps only these 16 columns from `fulldf`. Print `house.head()` and `house.shape` to show you did it right.

In [339]:
housedf = fulldf[['MSZoning','LotArea','Neighborhood','BldgType','OverallQual','OverallCond','YearBuilt','TotalBsmtSF','GrLivArea','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr','GarageCars','SaleCondition']]
housedf.head()

  MSZoning  LotArea Neighborhood  ... BedroomAbvGr  GarageCars  SaleCondition
0       RL     8450      CollgCr  ...            3           2         Normal
1       RL     9600      Veenker  ...            3           2         Normal
2       RL    11250      CollgCr  ...            3           2         Normal
3       RL     9550      Crawfor  ...            3           3        Abnorml
4       RL    14260      NoRidge  ...            4           3         Normal

[5 rows x 16 columns]

In [340]:
housedf.shape

(1460, 16)

**Question 3** (10 points) <br/>
Place the `SalePrice` column (from `fulldf`) into a variable called `answers`. Show `answers.head()`.

In [341]:
answers = fulldf['SalePrice']
answers.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

**Question 4** (10 points) <br/>
12 of our factors in `housedf` are numeric. 4 are categorical. The 4 categorical factors (MSZoning, Neighborhood, BldgType, and SaleCondition) need to be converted using `pandas` `get_dummies`. Do this and assign the result into a new DataFrame called `df`. Print `df.head()` to make sure you completed it correctly. `df` should now have 53 columns. In a separate cell, print `df.columns` so you can see how `get_dummies` handled the categorical factors, and what our 53 factors now are.

*Note:* OverallQual and OverallCond are ordinal. They are rankings from 1 to 10 on the overall quality and condition of the home, respectively. As a ranking of 10 (very excellent) should contribute more to the value of a home than a ranking of 1 (very poor), it is an acceptable approximation to keep these as numeric factors rather than use `get_dummies` and add another 18 factors to our model. However, this means the relationship within OverallQual and OverallCond will be forced to be linear among the rankings and may not represent its real impact on value. You are welcome to also analyze converting these factors using `get_dummies` if you are curious about it, but you do not have to.

In [342]:
df = pd.get_dummies(housedf)
df.head()

   LotArea  OverallQual  ...  SaleCondition_Normal  SaleCondition_Partial
0     8450            7  ...                     1                      0
1     9600            6  ...                     1                      0
2    11250            7  ...                     1                      0
3     9550            7  ...                     0                      0
4    14260            8  ...                     1                      0

[5 rows x 53 columns]

In [343]:
df.columns

Index(['LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'TotalBsmtSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'GarageCars', 'MSZoning_C (all)', 'MSZoning_FV',
       'MSZoning_RH', 'MSZoning_RL', 'MSZoning_RM', 'Neighborhood_Blmngtn',
       'Neighborhood_Blueste', 'Neighborhood_BrDale', 'Neighborhood_BrkSide',
       'Neighborhood_ClearCr', 'Neighborhood_CollgCr', 'Neighborhood_Crawfor',
       'Neighborhood_Edwards', 'Neighborhood_Gilbert', 'Neighborhood_IDOTRR',
       'Neighborhood_MeadowV', 'Neighborhood_Mitchel', 'Neighborhood_NAmes',
       'Neighborhood_NPkVill', 'Neighborhood_NWAmes', 'Neighborhood_NoRidge',
       'Neighborhood_NridgHt', 'Neighborhood_OldTown', 'Neighborhood_SWISU',
       'Neighborhood_Sawyer', 'Neighborhood_SawyerW', 'Neighborhood_Somerst',
       'Neighborhood_StoneBr', 'Neighborhood_Timber', 'Neighborhood_Veenker',
       'BldgType_1Fam', 'BldgType_2fmCon', 'BldgType_Duplex', 'BldgType_Twnhs',
       'BldgType_TwnhsE', 'SaleCondition_Abnorml', 'SaleCondition_AdjLand',
       'SaleCondition_Alloca', 'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object')

**Question 5** (10 points) <br/>
Now split your `df` and `answers` dataset into a training and testing set, using `train_test_split`. Call the results `Xtrain`, `Xtest`, `ytrain`, and `ytest`. Print `head()` and `shape` for each to ensure the data was split correctly.

In [344]:
Xtrain, Xtest, ytrain, ytest = train_test_split(df, answers)

In [345]:
print(Xtrain.shape)
Xtrain.head()

(1095, 53)

      LotArea  OverallQual  ...  SaleCondition_Normal  SaleCondition_Partial
1178     7681            5  ...                     1                      0
840     12155            6  ...                     1                      0
1238    13072            6  ...                     0                      0
432      1920            5  ...                     1                      0
797      7677            5  ...                     0                      0

[5 rows x 53 columns]

In [346]:
print(ytrain.shape)
ytrain.head()

(1095,)

1178    154900
840     140000
1238    142500
432     122500
797     110000
Name: SalePrice, dtype: int64

In [347]:
print(Xtest.shape)
Xtest.head()

(365, 53)

      LotArea  OverallQual  ...  SaleCondition_Normal  SaleCondition_Partial
652      8750            7  ...                     1                      0
1036    12898            9  ...                     1                      0
215     10011            5  ...                     1                      0
964     11316            7  ...                     1                      0
548      8235            5  ...                     1                      0

[5 rows x 53 columns]

In [348]:
print(ytest.shape)
ytest.head()

(365,)

652     191000
1036    315500
215     134450
964     214900
548     125000
Name: SalePrice, dtype: int64

**Question 6** (25 points) <br/>
**a)** Now create your linear regression model, using `LinearRegression().fit` on your training data. Assign it to `regmodel`. <br/>
**b)** Calculate the predictions the model gives for your test dataset, assigning it to the variable `predictions`. <br/>
**c)** Print the $RMSE$ and $R^2$ values (for both the training and testing data). <br/>
**d)** Copy your `train_test_split` command from Question 5 to the top of the next cell, so that you can run that cell and do one complete random sampling of the train/test data, linear model generation, model statistics, and model equation.

In [349]:
# a)
regmodel = LinearRegression().fit(Xtrain, ytrain)

In [350]:
# b)
predictions = regmodel.predict(Xtest)
predictions

array([212758.77609701, 278953.27719022, 145832.93983745, 230566.10919907,
       126477.03686998, 282399.51016174, 328902.87529415, 225981.15717877,
       135393.93714077, 237801.79549615, 127952.30341586, 192948.01984134,
       127288.55616582,  11433.7712653 , 114521.38600401, 252129.76333936,
       117056.94737919, 283385.46382936, 331030.32356495, 214576.29158183,
       203594.10350657, 131162.97549935, 338239.20305452, 124527.82703146,
       157831.08026541, 132547.42984871, 187718.86973627, 244217.30718843,
       216479.88930013, 102374.08618422, 204914.96868354, 204628.8495067 ,
       157960.29524077, 174778.24516486, 164370.48838739,  68384.55894483,
       237340.43497201, 153328.37092891, 163742.86615768, 139937.09851297,
       114292.84521176,  75924.1717275 ,  66760.03051443, 147797.95259253,
       276281.68017764, 129447.61788766, 184392.27333601, 172392.99839216,
       133253.51835886, 207195.03576788, 227188.77259175, 184041.59563657,
       244773.14629456, 169472.62462348, 198918.05743938, 126124.35814507,
       127927.03950762, 106781.74294628, 122914.46505634, 211108.66017635,
       105345.72374939, 160322.64041224,  77656.6012382 , 203647.2664372 ,
       103606.54065403,  51477.00331314, 147120.13563128, 197102.29921708,
       101362.72186907, 111444.04354518, 233917.37390077, 142972.67903057,
       214565.95053541, 209742.01340666, 118192.11678394,  92862.34805559,
       172111.75903205, 294418.99793048, 107368.23799659, 195850.90524382,
       213187.2186822 ,  95473.01418795, 138358.13679765, 148384.59106648,
       234875.19340326, 216049.40910118,  74212.09009014, 249078.28466117,
       145417.52639138, 129740.67998547, 176160.74579624, 210441.10211892,
       346512.51453262, 102454.76280879, 136434.0394649 , 247124.58687601,
       100443.71889227, 125594.31671473, 174329.13669413, 176663.77361362,
       135356.11741564, 121120.89445078, 199461.00361709, 344533.1468296 ,
       175211.88165376, 109749.57142644, 172189.66321915, 214408.40413125,
        88215.65393703,  54556.4716944 , 112690.03939658, 136256.20334546,
       243720.54861675, 130575.61953248, 180890.93294009, 254268.00132323,
       304510.91599567, 127873.46528686, 157580.12856417, 140201.42226923,
       150036.38776526, 194532.13431348, 214913.37338103, 132965.54618079,
        98979.60801477, 208101.33634105, 131158.50205135, 164229.09747697,
       149023.8946723 , 176770.94107128, 246846.94356309, 333854.16210892,
       170689.6323194 , 224089.70180078, 226029.7970342 , 175217.21335863,
       168476.25515656, 139364.34321878, 230483.39265003, 124017.82466224,
       318260.8790834 , 217164.10419775, 303129.09219927, 155652.70457807,
        37411.71672251, 179030.57986923, 142313.08426054, 217351.37152163,
       217497.030235  , 115576.60556622, 150937.70146228, 242729.72405595,
        96005.31569436, 106088.21721618, 104205.39672988,  84407.97877869,
       205511.62108166, 224303.25769846, 306730.04919983, 183411.09373547,
       126318.18874855, 177388.33665754, 108168.54564111, 161890.58712081,
        44063.60962606, 224521.24326644, 193006.26907129, 130008.60796941,
       115262.90418149, 230678.46972494, 193553.218811  , 245069.37628165,
       236710.48513432, 144495.35714473, 192461.64396346, 115517.99883566,
       101034.3376064 , 143235.92204936, 147628.47662599, 181119.27090843,
       137303.18622068, 184284.43059108, 329758.92615116, 164167.74386669,
       101145.14678679, 169436.60431857,  80248.65731449, 167473.27031178,
       131123.69698398, 124753.60448449, 249884.28235434, 181781.20699843,
       131162.97549935, 151579.41181527, 201810.33832704, 170498.09206198,
       136221.82157744, 123014.92972633,  72023.37680081, 117680.16998157,
       208053.3931887 , 192112.0470211 , 214188.85856587, 130736.23385368,
       280297.78389033, 261587.31072106, 162498.12508892, 105859.29877999,
       160137.75264999, 149242.10382663, 132416.58720444, 177662.55242142,
        61304.21353565, 197121.2480538 , 328870.60523255, 127962.97645862,
       131588.49352004, 258414.60283583, 196660.6954814 ,  68076.82190674,
       386888.48442424, 215123.76349816, 197704.50984431, 309999.04238184,
       118045.84253864, 214274.73398502, 175942.26544394, 245996.24644584,
       240369.12081661, 267597.27667359, 129939.09569657, 225348.27098993,
       260254.41163015, 120653.02120993,  71238.60807069, 220964.88536449,
       149301.46434782, 275391.18394704, 129275.11394447, 243189.56481854,
       125059.36497151,  80028.59339347, 164612.2803412 , 385878.14562619,
       221813.10955599, 107829.97837031, 136642.86320897, 249592.91040692,
       101914.95432825, 123512.66880044, 184274.93286862, 139668.70080827,
        95190.24909524, 193100.85987383,  98800.71592888, 235938.51369858,
       155612.02614181, 154707.18519588, 182396.62361378, 145805.83793656,
       302198.78995979, 181267.85251576, 223458.74705914,  59999.50128982,
       125867.15855001, 198713.69250145, 246506.9222586 , 176120.97696176,
       260513.78285637, 143955.21637013, 155683.00767337, 101576.97808404,
       183679.2342032 ,  99315.63469301, 389723.07739254,  90283.60623099,
       147408.72313853, 341592.57160316, 204272.9734096 , 378515.20450847,
       175333.08887909, 394362.16966392, 300818.48825634, 189076.6736583 ,
       160714.66414546, 223135.53385521, 112611.22406821,  75778.92687012,
       177463.89254981, 194533.50327218, 152021.63717186, 265705.08870828,
       174695.32650577, 172839.80141611, 166543.57968557, 256648.46636596,
       108246.40906386, 199085.25907873, 106949.84778539, 229109.99912994,
       190734.04147863, 150485.44807511, 177376.66374524, 111977.45936896,
       407440.64573526, 100460.12931695, 112287.44448337, 251223.73528932,
       179616.84875797, 111550.65819502,  90225.08892089, 152422.18791909,
       128667.34196571, 308712.12189565, 257344.72335086, 304895.73624837,
       235235.2358817 , 233112.96054535, 159583.73741951, 160664.76097352,
       134279.17461966, 125554.58755158, 208179.25259344, 140018.53603785,
       172011.18987982, 196560.27521648, 146970.65617846, 107236.25462416,
       132968.78942829, 204534.03325207, 189125.98985545, 195074.30891158,
       112512.3750248 , 115881.74214922, 177234.15683722, 172627.26219438,
       215215.79970517,  98816.39863343, 276819.42567105, 282523.58005567,
       114269.04037281, 497133.70116855, 140519.94392888, 209717.46029637,
       265324.21721417, 110124.15719759, -11144.59570317,  94750.74747531,
       130736.23385368, 389435.96342063,  79668.13276115, 149808.66954721,
       164399.86841219, 122763.00069896, 174902.81738059,  99928.85848064,
       176670.1974797 , 188780.82704562, 206494.93839203, 110796.4762554 ,
       157167.06254885, 214282.17894471,  76932.90230016, 124048.88223172,
       130831.5604263 ])

In [351]:
# c)
# For testing data
rmse_test = math.sqrt(mean_squared_error(ytest, predictions))
R2_test = regmodel.score(Xtest, ytest)
print(rmse_test)
print(R2_test)

31683.98660556105
0.8290968572210715

In [352]:
# For training data
predictions_train = regmodel.predict(Xtrain)
rmse_train = math.sqrt(mean_squared_error(ytrain, predictions_train))
R2_train = regmodel.score(Xtrain, ytrain)
print(rmse_train)
print(R2_train)

31440.46637903175
0.846684924791286

In [353]:
# d)
# one complete random sampling of the train/test data
Xtrain, Xtest, ytrain, ytest = train_test_split(df, answers)
# linear model generation
regmodel = LinearRegression().fit(Xtrain, ytrain)
# model statistics
predictions = regmodel.predict(Xtest)
predictions_train = regmodel.predict(Xtrain)

rmse_test = math.sqrt(mean_squared_error(ytest, predictions))
R2_test = regmodel.score(Xtest, ytest)
rmse_train = math.sqrt(mean_squared_error(ytrain, predictions_train))
R2_train = regmodel.score(Xtrain, ytrain)
print(rmse_test)
print(R2_test)
print(rmse_train)
print(R2_train)

# model equation
regmodel.coef_
regmodel.intercept_

equation = 'y = '
equation += '({:.4f}) + '.format(regmodel.intercept_)
for i in np.arange(regmodel.coef_.size):
    equation += '({:.4f})*{} + '.format(regmodel.coef_[i],df.columns[i])
equation

36719.1769969404
0.8352188134742347
29840.23220883673
0.8432617083019517

'y = (-707597.9855) + (0.3872)*LotArea + (13088.7125)*OverallQual + (5920.0850)*OverallCond + (334.5907)*YearBuilt + (12.1438)*TotalBsmtSF + (42.3586)*GrLivArea + (14545.0779)*BsmtFullBath + (8951.2286)*BsmtHalfBath + (6613.1847)*FullBath + (2654.3311)*HalfBath + (-4200.2928)*BedroomAbvGr + (11662.5901)*GarageCars + (-14972.4084)*MSZoning_C (all) + (-569.2936)*MSZoning_FV + (15678.9716)*MSZoning_RH + (1842.9780)*MSZoning_RL + (-1980.2476)*MSZoning_RM + (1653.2531)*Neighborhood_Blmngtn + (-4010.0185)*Neighborhood_Blueste + (7015.3662)*Neighborhood_BrDale + (-11191.3519)*Neighborhood_BrkSide + (-4457.2608)*Neighborhood_ClearCr + (-10717.3241)*Neighborhood_CollgCr + (17213.7162)*Neighborhood_Crawfor + (-23339.3101)*Neighborhood_Edwards + (-19307.3115)*Neighborhood_Gilbert + (-13660.4197)*Neighborhood_IDOTRR + (10736.6575)*Neighborhood_MeadowV + (-19979.3215)*Neighborhood_Mitchel + (-15353.3176)*Neighborhood_NAmes + (6266.7915)*Neighborhood_NPkVill + (-20222.0611)*Neighborhood_NWAmes + (33842.1764)*Neighborhood_NoRidge + (53320.4820)*Neighborhood_NridgHt + (-22792.5132)*Neighborhood_OldTown + (-22882.4834)*Neighborhood_SWISU + (-17836.7247)*Neighborhood_Sawyer + (-12795.2881)*Neighborhood_SawyerW + (7662.5464)*Neighborhood_Somerst + (56708.5661)*Neighborhood_StoneBr + (-190.0948)*Neighborhood_Timber + (24315.2455)*Neighborhood_Veenker + (21071.0324)*BldgType_1Fam + (16762.8003)*BldgType_2fmCon + (4248.0404)*BldgType_Duplex + (-30319.7835)*BldgType_Twnhs + (-11762.0896)*BldgType_TwnhsE + (-14170.6083)*SaleCondition_Abnorml + (15662.3064)*SaleCondition_AdjLand + (-854.5504)*SaleCondition_Alloca + (-5642.5422)*SaleCondition_Family + (-4451.6650)*SaleCondition_Normal + (9457.0594)*SaleCondition_Partial + '

**Question 7** (25 points) <br/>
Run the `train_test_split` and `LinearRegression().fit` several times, noting the RMSE and R^2 train and test results, along with the regression equation found by the model. Answer the following questions.

What appears to be the rough average for RMSE? <br/>
What appears to be the rough averages for R^2? <br/>

Name three things that make sense in your model.<br/>
Name two things that don't make sense in your model.<br/>

Based on your model, what would you expect the three wealthiest neighborhoods to be? <br/>
What would you expect the three poorest neighborhoods to be? 

Are you concerned you overfit your model?

In [354]:
RMSE_SUM = 0
R2_Sum = 0
for a in range(1000):
  Xtrain, Xtest, ytrain, ytest = train_test_split(df, answers)
  regmodel = LinearRegression().fit(Xtrain, ytrain)
  predictions_Ave = regmodel.predict(Xtest)
  RMSE_SUM = RMSE_SUM + math.sqrt(mean_squared_error(ytest, predictions_Ave))
  R2_SUM = R2_SUM + regmodel.score(Xtest, ytest)
EMSE_ave = RMSE_SUM / 1000
R2_ave = R2_SUM / 1000
print(EMSE_ave)
R2_ave

33373.04350530607

0.818589180855767

Put your answers here.<br/>
The average for RMSE is 33601.<br/>
The average for R^2 is 0.814.<br/>
<br/>
Make sense: BsmtFullBath, OverallQual, and OverallCond.<br/>
Not make sense: Neighborhood_Gilbert and Neighborhood_Edwards.<br/>
<br/>
Three wealthies neighborhoods:Neighborhood_NoRidge, Neighborhood_NridgHt, and Neighborhood_StoneBr.<br/>
Three poorest neighborhoods:Neighborhood_Edwards, Neighborhood_Gilbert, and Neighborhood_IDOTRR.<br/>
<br/>
RMSE for the testing data is higher than RMSE for the training data. So my model is overfit.<br/>

*One final note:* If we had more than just ~1500 homes, we could create machine learning models using all of the factors available in `fulldf`.

**Graduate Students Only:** \\
Try adding and/or subtracting features, or creating your own, and building a new linear regression model with those features. Discuss advantages and disadvantages. Which is better?